{% extends "home_basic.html" %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock link %}
{% block title %}Courses-For-All-Students{% endblock title %}
{% block css %}
    .main{
        display:grid;
        grid-template-columns: 100% 100% 100% 100%;
    }
    .card{
        position:relative;
        width:100%;
        height:100%;
        background-color: #f5f5f5;
        border:none;
        gap: 10%;
        top:2px;
        left:5%;
    }
    body {
        background-color:white;
        {% comment %} color: white; {% endcomment %}
    }
    .notes-file{
        color: white;
        width:100%;
        height:90vh;
    }
    img {
        width: 102%;
        height: 31%;
    }
    .course-duration{
        color:black;
    }
    @media screen and (max-width:1085px){
        .main{
            display:grid;
            grid-template-columns: 105% 105% 105%;
        }
        .notes-file{
            background-color: white;
            color: white;
            width:100%;
            height:42vh;
        }
    }
    @media screen and (max-width:779px){
        .main{
            display:grid;
            grid-template-columns: 100% 100%;
        }
    }
    @media screen and (max-width:479px) {
        .card{
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
        }
        .notes-file{
            background-color: white;
            color: white;
            width:100%;
            height:40vh;
        }
        img {
            width: 101%;
            height: 25%;
        }
    }
    @media screen and (max-width:350px){
        .card{
            margin:0px 1%;
        }
    }
{% endblock css %}

{% block body %}
<div class="card main" style="width: 18rem; bg-primary">
    {% comment %} {% for post in file %}
    <div class=" notes-file card-body my-4 bg-primary " style="border:5px solid green;">

        {% if course.video_image %}
        <img src="{{ course.video_image.url }}" alt="{{ course.titles }} Image">
        {% endif %}

        <video width="250" height="300" controls>
            <source src="{{ course.files.url }}" type="video/mp4">
        </video>

        <h2 class="card-title">{{post.titles}}</h2>
        <p class="card-text">{{post.discs}}</p>
        <a href="{{post.file.url}}" download="{{post.file.url}}" class="btn btn-primary">Go Download</a>
    </div>
    {% endfor %} {% endcomment %}

    {% for course in file %}
    <div class="notes-file card-body my-4 bg-primary" style="border: 5px solid green;">
        {% if course.video_image %}
        <img src="{{ course.video_image.url }}" alt="{{ course.titles }} Image">
        {% endif %}

        
        <video width="250" height="150" controls>
            <source src="{{ course.files.url }}" type="video/mp4">
        </video>
        
        <h5 class="course-duration">Time:{{course.duration}}</h5>
        <h2 class="card-title">{{ course.titles }}</h2>
        <p class="card-text">{{ course.discs }}</p>
        <a href="{{ course.files.url }}" download="{{ course.files.url }}" class="btn btn-primary">Go Download</a>
    </div>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
{% endblock body %}